html {
  background-color: gray;
}

.header {
  text-align: center;
  color: whitesmoke;
  background-color: darkslategray;
  margin: 0 auto;
}

.list {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
}

.item {
  border: 2px solid whitesmoke;
  margin: 10px;
  padding: 5px;
  color: whitesmoke;
}